#mydiv {
  position: absolute;
  z-index: 9;
  opacity: 4;
  background-color: #f1f1f1;
  text-align: center;
  border: 1px solid #d3d3d3;
  /* height: 247px; */
  width: 267px;
  /* /* width: 285px; */
  /* height: 550px; */
  border-radius: 12px;
}

#mydivheader {
  padding: 10px;
  /* cursor: move; */
  z-index: 10;
  background-color: #6c757d;
  color: #fff;
  border-radius: 12px;
}
